@font-face {
    font-family: "Starjedi";
    src: local("Starjedi"), url("./fonts/Starjedi.ttf");
}

@font-face {
    font-family: "Anakinmono";
    src: local("Anakinmono"), url("./fonts/anakinmono.ttf");
}

body {
    background-color: #dad8d8;
}

.App {
    text-align: center;
}

.App-header {
    background-color: #282c34;
    padding: 1em;
    text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
    font-family: "Starjedi";
    letter-spacing: 1px;
}
